<settings>

	<setting propertyKey="@Properties.appVersion" title="App Version">
        <settingConfig type="alphaNumeric" readonly="true" />
    </setting>


    <setting propertyKey="@Properties.showTemp" title="Show temperature">
        <settingConfig type="boolean" />
    </setting>
    <setting propertyKey="@Properties.showCO2" title="Show CO2">
        <settingConfig type="boolean" />
    </setting>
    <setting propertyKey="@Properties.showHumidity" title="Show humidity">
        <settingConfig type="boolean" />
    </setting>
    <setting propertyKey="@Properties.showPressure" title="Show pressure">
        <settingConfig type="boolean" />
    </setting>
    <setting propertyKey="@Properties.showNoise" title="Show noise">
        <settingConfig type="boolean" />
    </setting>
    <setting propertyKey="@Properties.showRain" title="Show rain">
        <settingConfig type="boolean" />
    </setting>
    <setting propertyKey="@Properties.showRain1h" title="Show rain (last 1h)">
        <settingConfig type="boolean" />
    </setting>
    <setting propertyKey="@Properties.showRain24h" title="Show rain (last 24h)">
        <settingConfig type="boolean" />
    </setting>
    <setting propertyKey="@Properties.showWind" title="Show wind">
        <settingConfig type="boolean" />
    </setting>
    <setting propertyKey="@Properties.showGust" title="Show gust">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.activateBackgroundLoading" title="Activate refresh in background">
        <settingConfig type="boolean" />
    </setting>
 	<setting propertyKey="@Properties.backgroundRefreshInterval" title="Background refresh interval in minutes." prompt="5">
 		<settingConfig type="numeric" required="true" min="5" max="60" errorMessage="Value must be between 5 and 60 minutes."/>
	</setting>

</settings>
