<jsonDataResources>
    <jsonData id="netatmoClientAuth">
        <!-- Take values from https://dev.netatmo.com/apps/ -> corresponding app -->
        <!-- If you get "invalid access token" when reading data, recreate the app (see https://helpcenter.netatmo.com/hc/en-us/community/posts/21120122608018-invalid-access-token)-->
        {
            "id" : "xxx", 
            "secret" : "yyy"
        }
    </jsonData>
</jsonDataResources>
